angular1/node_modules/*/* 
angular1/node_modules
angular1/node_modules/
angular1/tslint.json
angular1/tsconfig.json
angular1/src/tslint.json
angular1/src/tsconfig.spec.json
angular1/src/tsconfig.app.json
angular1/src/test.ts
angular1/src/styles.css
angular1/src/polyfills.ts
angular1/src/main.ts
angular1/src/karma.conf.js
angular1/src/index.html
angular1/src/favicon.ico
angular1/src/environments/environment.ts
angular1/src/environments/environment.prod.ts
angular1/src/browserslist
angular1/src/assets/.gitkeep
angular1/src/app/app.module.ts
angular1/src/app/app.component.ts
angular1/src/app/app.component.spec.ts
angular1/src/app/app.component.html
angular1/src/app/app.component.css
angular1/package.json
angular1/package-lock.json
angular1/e2e/tsconfig.e2e.json
angular1/e2e/src/app.po.ts
angular1/e2e/src/app.e2e-spec.ts
angular1/e2e/protractor.conf.js
angular1/angular.json
angular1/README.md
angular1/.editorconfig
